* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #EEEDEF;
}

header {
  background-color: #3967D6;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

header nav {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header nav h1 a {
  font-style: italic;
}

header nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
}

header nav li {
  display: inline;
  padding: 0 5px;
}

main {
  margin-top: 40px;
}

main .container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.sobre {
  display: flex;
}

.sobre .foto-loja img {
  max-width: 100%;
  padding-right: 40px;
}

.sobre .foto-loja span {
  display: block;
  font-size: 10px;
  color: #666;
}

.sobre .texto-loja {
  max-width: 50%;
}

.sobre .texto-loja h2,
.produtos h2 {
  color: #3967D6;
  font-style: italic;
  border-bottom: 2px solid #3967D6;
  padding-bottom: 15px;
}

.sobre .texto-loja p {
  margin-top: 35px;
  line-height: 20px;
}

.produtos {
  margin: 40px 0;
}

.produtos .produtos-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 30px;
}

.produtos .produtos-lista .item img {
  max-width: 100%;
}

.produtos .produtos-lista .item button {
  background-color: #3967D6;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  padding: 8px 32px;
}

.produtos .produtos-lista .item h3 {
  max-width: 190px;
  padding: 10px 0;
}

@media (max-width: 375px) {
  header nav h1 {
    width: 20px;
  }

  header nav li {
    display: block;
  }

  .sobre {
    flex-direction: column;
    padding: 0 40px;
  }

  .sobre .foto-loja img {
    padding-right: 0;
  }

  .sobre .texto-loja {
    max-width: 100%;
  }

  .sobre .texto-loja h2 {
    padding-top: 20px;
  }

  .produtos .produtos-lista {
    grid-template-columns: repeat(1, 1fr);
  }

  header nav,
  .produtos {
    padding: 0 40px;
  }
}

@media (min-width: 376px) and (max-width: 667px) {
  .sobre {
    flex-direction: column;
    padding: 0 40px;
  }

  .sobre .foto-loja img {
    padding-right: 0;
  }

  .sobre .texto-loja {
    max-width: 100%;
  }

  .sobre .texto-loja h2 {
    padding-top: 20px;
  }

  .produtos .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }

  header nav,
  .produtos {
    padding: 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sobre {
    flex-direction: column;
    padding: 0 40px;
  }

  .sobre .foto-loja img {
    padding-right: 0;
  }

  .sobre .texto-loja {
    max-width: 100%;
  }

  .sobre .texto-loja h2 {
    padding-top: 20px;
  }

  .produtos .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
  }

  header nav,
  .produtos {
    padding: 0 40px;
  }
}