* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

form,
#resultado {
  width: 300px;
  margin: 20px auto;
}

label {
  font-weight: 500;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(28, 35, 95);
  color: #fff;
  border: none;
  cursor: pointer;
}


table {
  font-family: "Inter", sans-serif;
  border-collapse: collapse;
  width: 500px;
  margin: auto;
  border: 1px solid #ccc;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(28, 35, 95);
  color: #FFF;
}