* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}


.container {
  width: 400px;
  margin: auto;
  margin-top: 55px;
}

h2 {
  padding: 10px 0;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  width: 150px;
  margin-left: 5px;
  font-weight: 500;
}

ul {
  padding-left: 20px;
}

ul li {
  padding: 5px;
  cursor: pointer;
}

.tarefa-concluida {
  text-decoration: line-through;
}